
 .evento-card {
     left: 25%;
	 margin-bottom: 50px;
	 margin-top:50px;
}
 .evento-card {
     position: relative;
     width: 620px;
     height: 394px;
     background: #FFF;
     border-radius: 2px;
     box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
}
 .evento-card > .cover {
     position: relative;
     height: 260px;
     background: transparent center no-repeat;
     background-size: 100% auto;
     border-radius: 2px 2px 0 0;
}
 .evento-card > .cover > label {
     position: absolute;
     top: 22px;
     left: -33px;
     height: 33px;
     padding: 0 30px 0 63px;
     line-height: 33px;
     vertical-align: middle;
     font-family: sans-serif;
     font-size: 13px;
     text-transform: uppercase;
     color: #FFF;
     text-shadow: 0 1px 2px #000;
     background: rgba(136, 86, 168, .6);
}
 .evento-card > .cover > label > i {
     position: absolute;
     top: 0;
     left: 0;
}
 .evento-card > .cover > label > i > svg {
     margin: 8px;
}

 .evento-card > .info {
     position: relative;
     height: 160px;
     overflow: hidden;
     border-radius: 0 0 2px 2px;
}
 .evento-card > .info > .details {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 134px;
     height: 134px;
     background: #8856A8;
     font-family: sans-serif;
     font-size: 14px;
     color: #FFF;
     text-transform: uppercase;
     text-decoration: none;
     text-align: center;
     border-radius: 0 0 0 2px;
}
 .evento-card > .info > .details:hover {
     background: #9967B9 
}
 .evento-card > .info > .details > i {
     display: block;
     margin: 38px 0 15px;
}
 .evento-card > .info > .content {
     position: absolute;
     top: 20px;
     right: 20px;
     bottom: 20px;
     left: 170px;
     font-family: sans-serif;
     font-size: 14px;
     color: #888;
}
 .evento-card > .info > .content strong {
     font-weight: normal;
     color: #333 
}
 .evento-card > .info > .content .pad-left {
     padding-left:20px; 
}
 .evento-card > .info > .content .border-right {
     border-right: 1px solid #D9D9D9 
}
 .evento-card > .info > .content .consumers img, .evento-card > .info > .content .consumers span {
     display: inline-block;
     width: 32px;
     height: 32px;
     margin: 0 2px 0 0;
     line-height: 32px;
     vertical-align: middle;
     border-radius: 100% 
}
 .evento-card > .info > .content .consumers span {
     margin: 0 
}
 .evento-card > .info > .content h1 {
     margin: 0 0 10px;
     font-size: 26px;
     font-weight: normal;
     color: #333;
}
 .evento-card > .info > .content .stars, .evento-card > .info > .content .stars > em {
     display: block;
     width: 99px;
     height: 18px;
     margin: 0 auto 7px;
     text-align: left;
     background: url(http://c.boylett.uk/generic/image_png_00004.png);
}
 .evento-card > .info > .content .stars > em {
     width: 99px;
     height: 18px;
     margin: 0;
     background: url(http://c.boylett.uk/generic/image_png_00004.png);
     background-position: 0 -18px;
}
h2.titulo_evento {
	font-size:18px;
	text-align:center;
	margin-bottom:10px;
}
#icons path {
	fill: #FFF;
}
