@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Eventos";
}
	<div class="wrapper">
		<div class="evento-card">
			<div class="cover" style="background-image: url(../../Content/Images/evento.png)">
				<label>
					<i>
						<svg xmlns="http://www.w3.org/2000/svg" id="icons" viewBox="0 0 42 42" width="18px" height="18px">
							<path d="M39,4H33V2a2,2,0,0,0-4,0V4H13V2A2,2,0,0,0,9,2V4H3A3,3,0,0,0,0,7V39a3,3,0,0,0,3,3H39a3,3,0,0,0,3-3V7A3,3,0,0,0,39,4ZM9,8v2a2,2,0,0,0,4,0V8H29v2a2,2,0,0,0,4,0V8h5v6H4V8H9ZM4,38V18H38V38H4Z" />
							<path d="M27.93,21l-9.18,8.65-4-4.12a2,2,0,0,0-2.87,2.79l5.39,5.53a2,2,0,0,0,2.8.06l10.61-10A2,2,0,0,0,27.93,21Z" />
						</svg>
					</i>
					<font>Eventos</font>
				</label>
			</div>
			<div class="info">
				<a href="#" class="details">
					<i>
						<svg x="0px" y="0px" width="26px" height="28px">
							<g>
								<path d="M 8.5 20 L 8.5 21 L 17.5 21 L 17.5 20 L 8.5 20 ZM 8.5 16 L 8.5 17 L 17.5 17 L 17.5 16 L 8.5 16 ZM 8.5 12 L 8.5 13 L 17.5 13 L 17.5 12 L 8.5 12 ZM 20 0 C 19.4477 0 19 0.4477 19 1 L 19 6 C 19 6.5523 19.4477 7 20 7 C 20.5523 7 21 6.5523 21 6 L 21 1 C 21 0.4477 20.5523 0 20 0 ZM 13 0 C 12.4477 0 12 0.4477 12 1 L 12 6 C 12 6.5523 12.4477 7 13 7 C 13.5523 7 14 6.5523 14 6 L 14 1 C 14 0.4477 13.5523 0 13 0 ZM 6 0 C 5.4477 0 5 0.4477 5 1 L 5 6 C 5 6.5523 5.4477 7 6 7 C 6.5523 7 7 6.5523 7 6 L 7 1 C 7 0.4477 6.5523 0 6 0 ZM 15 4 L 18 4 L 18 3 L 15 3 L 15 4 ZM 8 4 L 11 4 L 11 3 L 8 3 L 8 4 ZM 3 4 L 4 4 L 4 3 L 3 3 C 1.3431 3 0 4.3431 0 6 L 0 25 C 0 26.6569 1.3431 28 3 28 L 23 28 C 24.6569 28 26 26.6569 26 25 L 26 6 C 26 4.3431 24.6569 3 23 3 L 22 3 L 22 4 L 23 4 C 24.1046 4 25 4.8954 25 6 L 25 25 C 25 26.1046 24.1046 27 23 27 L 3 27 C 1.8954 27 1 26.1046 1 25 L 1 6 C 1 4.8954 1.8954 4 3 4 Z" fill="#ffffff" />
							</g>
						</svg>
					</i>
					<font>Detalhes</font>
				</a>
				<div class="content">
					<h2 class="titulo_evento"><strong>25/02 - MedJunior Festival</strong></h2>
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td width = "20px" align="center" valign="middle" rowspan="1" class="pad-left"></td>
							<td width = "200px"></td>
							<!--<td width="140" rowspan="3" align="center" valign="middle">
				<h1>9.75</h1>
				<span class="stars">
					<em style="width: 91%"></em>
				</span><br />
				<small>(320 ratings)</small>
			</td>-->
						</tr>
						<tr>
							<td align="center" valign="middle" class="pad-left ">
								<svg class="evento_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
										<path d="M256,0C114.609,0,0,114.625,0,256s114.609,256,256,256c141.375,0,256-114.625,256-256S397.375,0,256,0z M256,448  c-105.875,0-192-86.125-192-192S150.125,64,256,64s192,86.125,192,192S361.875,448,256,448z M416,256c0,17.688-14.313,32-32,32H256  c-17.672,0-32-14.313-32-32V128c0-17.688,14.328-32,32-32s32,14.313,32,32v96h96C401.688,224,416,238.313,416,256z" />
								</svg>
							</td>
							<td align="left">
								25/02/2017 - das 14h às 21h
							</td>

						</tr>
						<tr>
							<td align="center" valign="middle" class="pad-left">
								<svg class="evento_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" width="18px" height="18px">
									<path d="M500,10c-198.4,0-359.4,164.5-359.4,367.5C140.6,580.3,500,990,500,990s359.4-409.7,359.4-612.5C859.4,174.5,698.4,10,500,10L500,10z M500,530.7c-99.3,0-179.7-82.4-179.7-183.8c0-101.4,80.4-183.8,179.7-183.8c99.3,0,179.7,82.4,179.7,183.8C679.7,448.3,599.3,530.7,500,530.7L500,530.7z" />
								</svg>
							</td>
							<td align="left" >
								Faculdade de Medicina
							</td>
						</tr>
						<tr>
							<td align="center" valign="middle" class="pad-left ">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
									<path d="M256,0C114.625,0,0,114.625,0,256s114.625,256,256,256s256-114.625,256-256S397.375,0,256,0z M256,480  C132.5,480,32,379.5,32,256S132.5,32,256,32s224,100.5,224,224S379.5,480,256,480z M335.563,265.844  c6.094,10.313,9.156,22.344,9.156,36.125c0,21.156-6.313,38.781-18.906,52.875c-12.594,14.125-30.781,22.438-54.563,24.938V416  h-30.313v-36.031c-39.656-4.063-64.188-27.125-73.656-69.125l46.875-12.219c4.344,26.406,18.719,39.594,43.125,39.594  c11.406,0,19.844-2.813,25.219-8.469s8.063-12.469,8.063-20.469c0-8.281-2.688-14.563-8.063-18.813  c-5.375-4.281-17.344-9.688-35.875-16.25c-16.656-5.781-29.688-11.469-39.063-17.156c-9.375-5.625-17-13.531-22.844-23.688  c-5.844-10.188-8.781-22.063-8.781-35.563c0-17.719,5.25-33.688,15.688-47.875c10.438-14.156,26.875-22.813,49.313-25.969V96h30.313  v27.969c33.875,4.063,55.813,23.219,65.781,57.5l-41.75,17.125c-8.156-23.5-20.719-35.25-37.781-35.25  c-8.563,0-15.438,2.625-20.594,7.875c-5.188,5.25-7.781,11.625-7.781,19.094c0,7.625,2.5,13.469,7.5,17.563  c4.969,4.063,15.688,9.094,32.063,15.125c18,6.563,32.125,12.781,42.344,18.625C321.281,247.469,329.438,255.563,335.563,265.844z" />
								</svg>
							<td align="left" valign="middle">
								40R$ o ingresso
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<link href="~/App_Themes/Theme1/Eventos.css" rel="stylesheet">



<!--
<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<div class="container">
			<img src="~/Content/Images/evento.png" />
			<p>Evento<p>
			<p>12/02<p>
			<p>Faculdade de Medicina da usp<p>
			<p>Dr.1 , Dr.2 , Dr.3 , Dr.4<p>
		</div>
	</div>
	<div class="col-3"></div>
</div>
*/
-->
